﻿@using Kendo.Mvc.UI;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    
    @Scripts.Render("~/bundles/jquery")    
    @Scripts.Render("~/bundles/modernizr")    
</head>
<body>
    @RenderBody()    
    @RenderSection("scripts", required: false)
</body>
</html>
