﻿@Styles.Render("~/Content/extjs")
@Scripts.Render("~/bundles/extjs")

<h2>ExtJS Grid Cascading Combos</h2>

<script type="text/javascript">
    Ext.require([
        'Ext.grid.*',
        'Ext.form.*',
        'Ext.data.*',
        'Ext.panel.*',
        'Ext.layout.container.Border'
    ]);
    
    Ext.onReady(function () {

        Ext.define('Company', {
            extend: 'Ext.data.Model',
            fields: [
                { name: 'CompanyName', type: 'string' },
                { name: 'CompanyId', type: 'int' }
            ]
        });

        Ext.define('Country', {
            extend: 'Ext.data.Model',
            fields: [
                { name: 'CountryName', type: 'string' },
                { name: 'CountryId', type: 'int' }
            ]
        });
        
        var companiesStore = Ext.create('Ext.data.Store', {
            model: 'Company',
            proxy: {
                type: 'ajax',
                url: '../ExtJS/Companies_Read',
                reader: {
                    type: 'json',
                    root: '',
                }
            }
        });
        
        var countriesStore = Ext.create('Ext.data.Store', {
            model: 'Country',
            autoload: false,
            proxy: {
                type: 'ajax',
                url: '../ExtJS/Countries_Read',
                reader: {
                    type: 'json',
                    root: '',
                }
            }
        });

        var companies = new Ext.form.ComboBox({ 
            id: 'companies',
            fieldLabel: 'Company',
            store: companiesStore,
            displayField: 'CompanyName',
            valueField: 'CompanyId',
            mode: 'local',
            width: 400,
            editable: false,
            emptyText: 'Select a company',
            triggerAction: 'all',
            listeners: {
                'select' : function(cmb, rec, idx) {
                    country = Ext.getCmp('countries');
                    country.clearValue();
                    country.store.load({
                        params: {'companyId': Ext.getCmp('companies').getValue() }
                    });
                    country.enable();
                }
            }
        });

        var countries = new Ext.form.ComboBox({ 
            id: 'countries',
            fieldLabel: 'Country',
            store: countriesStore,
            displayField: 'CountryName',
            valueField: 'CountryId',
            mode: 'local',
            queryMode: 'local',
            width: 400,
            editable: false,
            emptyText: 'Select a country',
            triggerAction: 'all',
            disabled: true        
        });

        var panel = new Ext.FormPanel({
            width: 500,
            labelWidth: 60,
            renderTo: 'panel',
            items:[ companies, countries ]            
        });
    });
</script>

<div id="panel"></div>