﻿@Styles.Render("~/Content/extjs")
@Scripts.Render("~/bundles/extjs")

<h2>ExtJS Chart</h2>

<script type="text/javascript">
    Ext.require([
        'Ext.chart.*',
        'Ext.grid.*',
        'Ext.form.*',
        'Ext.data.*',
        'Ext.panel.*',
        'Ext.layout.container.Border',
        'Ext.layout.container.Fit'
    ]);

    Ext.onReady(function () {

        Ext.define('Ports', {
            extend: 'Ext.data.Model',
            fields: [
                { name: 'CountryName', type: 'string' },
                { name: 'Ports', type: 'int' }
            ]
        });
        
        var portsStore = Ext.create('Ext.data.Store', {
            model: 'Ports',
            proxy: {
                type: 'ajax',
                url: '../ExtJS/PortsByCountries',
                reader: {
                    type: 'json',
                    root: '',
                }
            }
        });
        
        var chart = Ext.create('Ext.chart.Chart', {
            style: 'background:#fff',
            animate: true,
            shadow: true,
            store: portsStore,
            axes: [{
                    type: 'Numeric',
                    position: 'left',
                    fields: ['Ports'],
                    label: {
                        renderer: Ext.util.Format.numberRenderer('0')
                    },
                    title: 'Number of ports',
                    grid: true,
                    minimum: 0
                }, {
                    type: 'Category',
                    position: 'bottom',
                    fields: ['CountryName'],
                    title: 'Country'
                }],
            series: [{
                type: 'column',
                axis: 'left',
                highlight: true,
                tips: {
                    trackMouse: true,
                    width: 140,
                    height: 28,
                    renderer: function (storeItem, item) {
                        this.setTitle(storeItem.get('CountryName') + ': ' + storeItem.get('Ports'));
                    }
                },
                label: {
                    display: 'insideEnd',
                    'text-anchor': 'middle',
                    field: 'Ports',
                    renderer: Ext.util.Format.numberRenderer('0'),
                    orientation: 'vertical',
                    color: '#333'
                },
                xField: 'CountryName',
                yField: 'Ports'
            }]
        });
        
        var panel = new Ext.FormPanel({
            width: 800,
            height: 400,
            minHeight: 400,
            minWidth: 550,
            title: 'Ports by countries',
            layout: 'fit',
            renderTo: 'panel',
            items: [chart]
        });

        portsStore.load();
    });
</script>

<div id="panel"></div>