﻿@Styles.Render("~/Content/extjs")
@Scripts.Render("~/bundles/extjs")

<h2>ExtJS Grid Master/Detail</h2>

<script type="text/javascript">
    Ext.require([
        'Ext.grid.*',
        'Ext.data.*',
        'Ext.panel.*',
        'Ext.layout.container.Border',
        'Ext.grid.plugin.RowExpander'
    ]);
    
    Ext.onReady(function () {
        Ext.define('Company', {
            extend: 'Ext.data.Model',
            fields: [
                { name: 'CompanyName', type: 'string' },
                { name: 'CompanyId', type: 'int' }
            ]
        });

        Ext.define('Port', {
            extend: 'Ext.data.Model',
            fields: [
                { name: 'CountryName', type: 'string'},
                { name: 'SiteName', type: 'string'},
                { name: 'RoomName', type: 'string'},
                { name: 'RowName', type: 'string'},
                { name: 'CabinetName', type: 'string'},
                { name: 'PanelNumber', type: 'int'},
                { name: 'PortNumber', type: 'int'},
                { name: 'PortId', type: 'int'}
            ]
        });

        var timeBegin;
        
        var companiesStore = Ext.create('Ext.data.Store', {
            model: 'Company',
            proxy: {
                type: 'ajax',
                url: '../ExtJS/Companies_Read',
                reader: {
                    type: 'json',
                    root: '',
                }
            },
            sorters: [{
                property: 'CompanyName',
                direction: 'ASC'
            }]
        });                
        
        var companiesGrid = Ext.create('Ext.grid.Panel', {
            title: 'Companies',
            store: companiesStore,
            columns: [
                { text: "Company", width: 1500, dataIndex: 'CompanyName', sortable: true }
            ],
            viewConfig: {
                forceFit: true
            },
            height: 600,
            renderTo: 'companies-grid',
            stripeRows: true,
            autoExpandColumn: 'CompanyName',
            stateful: true,
            stateId: 'grid',

            plugins: [{
                ptype: 'rowexpander',
                pluginId: 'rowexpander',
                selectRowOnExpand: true,
                rowBodyTpl: ['<div id="PortsGrid_{CompanyId}"></div>'],

                // put a detail grid into the rowexpander div whenever it is toggled open
                toggleRow: function(rowIdx) {
                    var rowNode = this.view.getNode(rowIdx),
                        row = Ext.get(rowNode),
                        nextBd = Ext.get(row).down(this.rowBodyTrSelector),
                        hiddenCls = this.rowBodyHiddenCls,
                        record = this.view.getRecord(rowNode),
                        grid = this.getCmp(),
                        companyId = record.get('CompanyId'),
                        targetId = 'PortsGrid_' + companyId;

                    if (row.hasCls(this.rowCollapsedCls)) {
                        row.removeCls(this.rowCollapsedCls);
                        this.recordsExpanded[record.internalId] = true;
                        this.view.fireEvent('expandbody', rowNode, record, nextBd.dom);

                        if (rowNode.grid) {
                            nextBd.removeCls(hiddenCls);
                            rowNode.grid.doComponentLayout();
                            rowNode.grid.view.refresh();
                        } else {

                            var store = Ext.create('Ext.data.Store', {
                                model: 'Port',
                                pageSize: 20,
                                remoteSort: true,
                                buffered: false,
                                proxy: {
                                    type: 'ajax',
                                    url: '../ExtJS/All_Read',
                                    reader: {
                                        type: 'json',
                                        root: 'data',
                                        totalProperty: 'totalCount'
                                    },
                                    extraParams: {
                                        companyId: companyId
                                    }
                                },
                                sorters: [{
                                    property: 'CountryName',
                                    direction: 'ASC'
                                }],

                                listeners: {
                                    beforeload: function(store, operation, eOpts) {
                                        console.log('beforeload');
                                        timeBegin = new Date();
                                        return true;
                                    },

                                    load: function(records, successful, eOpts) {
                                        console.log('load');
                                        var timeEnd = new Date();
                                        $("span#Time").html("Change: " + (timeEnd - timeBegin));
                                    }
                                },

                                autoLoad: {
                                    callback: function () {
                                        // empty previous instance (if page size changed etc.)
                                        var g = $("div#" + targetId);
                                        if (g) {
                                            g.empty();
                                        }

                                        // create the inner grid and render it to the row
                                        nextBd.removeCls(hiddenCls);
                                        
                                        var pagesCombo = new Ext.form.ComboBox({
                                            name: 'pages',
                                            width: 60,
                                            store: new Ext.data.ArrayStore({
                                                fields: ['id'],
                                                data: [['5'], ['10'], ['20'], ['50'], ['100'], ['200'], ['500'], ['1000'], ['2000'], ['5000'], ['7500'], ['10000']]
                                            }),
                                            mode: 'local',
                                            value: '20',
                                            listWidth: 60,
                                            triggerAction: 'all',
                                            displayField: 'id',
                                            valueField: 'id',
                                            editable: false,
                                            forceSelection: true
                                        });

                                        pagesCombo.on('select', function (combo, record) {
                                            var pageSize = parseInt(combo.getRawValue());
                                            grid.store.pageSize = pageSize;
                                            grid.store.reload({
                                                params: {
                                                    limit: pageSize
                                                }
                                            });
                                        }, this);
                                        
                                        var grid = Ext.create('Ext.grid.Panel', {
                                            title: 'Ports',
                                            renderTo: targetId,
                                            store: this,
                                            row: row,
                                            columns: [
                                                { text: "Country", flex: 1, dataIndex: 'CountryName', sortable: true },
                                                { text: "Site", width: 115, dataIndex: 'SiteName', sortable: true },
                                                { text: "Room", width: 100, dataIndex: 'RoomName', sortable: true },
                                                { text: "Row", width: 100, dataIndex: 'RowName', sortable: true },
                                                { text: "Cabinet", width: 100, dataIndex: 'CabinetName', sortable: true },
                                                { text: "Panel", width: 100, dataIndex: 'PanelNumber', sortable: true },
                                                { text: "Port", width: 100, dataIndex: 'PortNumber', sortable: true },
                                                { text: "Port ID", width: 100, dataIndex: 'PortId', sortable: true }
                                            ],
                                            viewConfig: {
                                                forceFit: true
                                            },
                                            height: 400,
                                            bbar: Ext.create('Ext.PagingToolbar', {
                                                store: this,
                                                displayInfo: true,
                                                displayMsg: 'Displaying items {0} - {1} of {2}',
                                                emptyMsg: "No items to display",
                                                items: [
                                                    '-',
                                                    'Per Page: ',
                                                    pagesCombo
                                                ]
                                            })
                                        });

                                        rowNode.grid = grid;
                                    }
                                }
                            });
                        }

                    } else {
                        row.addCls(this.rowCollapsedCls);
                        nextBd.addCls(this.rowBodyHiddenCls);
                        this.recordsExpanded[record.internalId] = false;
                        this.view.fireEvent('collapsebody', rowNode, record, nextBd.dom);
                    }
                }
            }]
        });
        
        companiesStore.load();
    });
</script>

<div class="performance_test_result">
    <table>            
        <tr>
            <td>Time taken:</td>
            <td style="color:red"><span id="Time">&nbsp;</span>&nbsp;ms</td>
        </tr>
    </table>
</div>

<div id="companies-grid"></div>