﻿@Styles.Render("~/Content/extjs")
@Scripts.Render("~/bundles/extjs")

<h2>ExtJS Grid</h2>

<script type="text/javascript">
    Ext.require([
        'Ext.grid.*',
        'Ext.data.*',
        'Ext.panel.*',
        'Ext.layout.container.Border'
    ]);
    
    Ext.onReady(function () {
        Ext.define('Port', {
            extend: 'Ext.data.Model',
            fields: [
                { name: 'CompanyName', type: 'string'},
                { name: 'CountryName', type: 'string'},
                { name: 'SiteName', type: 'string'},
                { name: 'RoomName', type: 'string'},
                { name: 'RowName', type: 'string'},
                { name: 'CabinetName', type: 'string'},
                { name: 'PanelNumber', type: 'int'},
                { name: 'PortNumber', type: 'int'},
                { name: 'PortId', type: 'int'}
            ]
        });

        var timeBegin;
        
        var store = Ext.create('Ext.data.Store', {
            model: 'Port',
            pageSize: 20,
            remoteSort: true,
            buffered: false,
            proxy: {
                type: 'ajax',
                url: '../ExtJS/All_Read',
                reader: {
                    type: 'json',
                    root: 'data',
                    totalProperty: 'totalCount'
                }
            },
            sorters: [{
                property: 'CompanyName',
                direction: 'ASC'
            }],

            listeners: {
                beforeload: function(store, operation, eOpts) {
                    console.log('beforeload');
                    timeBegin = new Date();
                    return true;
                },

                load: function(records, successful, eOpts) {
                    console.log('load');
                    var timeEnd = new Date();
                    $("span#Time").html("Change: " + (timeEnd - timeBegin));
                }            
            }
        });

        var pagesCombo = new Ext.form.ComboBox({
            name: 'pages',
            width: 60,
            store: new Ext.data.ArrayStore({
                fields: ['id'],
                    data: [ ['5'], ['10'], ['20'], ['50'], ['100'], ['200'], ['500'], ['1000'], ['2000'], ['5000'], ['7500'], ['10000'] ]
            }),
            mode: 'local',
            value: '20',

            listWidth: 60,
            triggerAction: 'all',
            displayField: 'id',
            valueField: 'id',
            editable: false,
            forceSelection: true
        });

        var bbar = Ext.create('Ext.PagingToolbar', {
            store: store,
            displayInfo: true,
            displayMsg: 'Displaying items {0} - {1} of {2}',
            emptyMsg: "No items to display",
            items: [
                '-',
                'Per Page: ',
                pagesCombo
            ]
        });
        
        pagesCombo.on('select', function (combo, record) {
            var pageSize = parseInt(combo.getRawValue());
            grid.store.pageSize = pageSize;
            grid.store.reload({
                params: {
                    limit: pageSize
                }
            });
        }, this);
        
        var grid = Ext.create('Ext.grid.Panel', {
            title: 'Ports',
            store: store,
            columns: [
                { text: "Company", width: 120, dataIndex: 'CompanyName', sortable: true },
                { text: "Country", flex: 1, dataIndex: 'CountryName', sortable: true },
                { text: "Site", width: 115, dataIndex: 'SiteName', sortable: true },
                { text: "Room", width: 100, dataIndex: 'RoomName', sortable: true },
                { text: "Row", width: 100, dataIndex: 'RowName', sortable: true },
                { text: "Cabinet", width: 100, dataIndex: 'CabinetName', sortable: true },
                { text: "Panel", width: 100, dataIndex: 'PanelNumber', sortable: true },
                { text: "Port", width: 100, dataIndex: 'PortNumber', sortable: true },
                { text: "Port ID", width: 100, dataIndex: 'PortId', sortable: true }
            ],
            viewConfig: {
                forceFit: true
            },
            height: 400,
            bbar: bbar,
            renderTo: 'ports-grid'
        });
        
        store.load();
    });
</script>

<div class="performance_test_result">
    <table>            
        <tr>
            <td>Time taken:</td>
            <td style="color:red"><span id="Time">&nbsp;</span>&nbsp;ms</td>
        </tr>
    </table>
</div>

<div id="ports-grid"></div>