﻿<h2>DevExpress GridView</h2>

@Html.DevExpress().GetStyleSheets(
    new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
    new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
)

@Html.DevExpress().GetScripts(
    new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
    new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
    new Script { ExtensionSuite = ExtensionSuite.GridView },
    new Script { ExtensionSuite = ExtensionSuite.Editors }
)

@using (Html.BeginForm("Export", "DevExpress"))
{
    <input type="submit" name="PDF" value="Export::PDF" />
    <text>&nbsp;</text> 
    <input type="submit" name="XLSX" value="Export::XLS" /> 

    @Html.Partial("GridPerformancePartial")
    @Html.Partial("GridPartial")
}
