﻿@{
    ViewBag.Title = "Index";
}

<h2>Kendo</h2>
@Html.ActionLink("Grid", "Grid", "Kendo")
<br/>
@Html.ActionLink("Grid Master/Detail", "GridMasterDetail", "Kendo")
<br/>
@Html.ActionLink("Cascading comboboxes", "CascadingCombos", "Kendo")
<br/>
@Html.ActionLink("Chart", "Chart", "Kendo")
<br />
@Html.ActionLink("Grid Web Api", "RestKendo", "Kendo")

<h2>DevExpress</h2>
@Html.ActionLink("Grid", "Grid", "DevExpress")
<br/>
@Html.ActionLink("Grid Master/Detail", "GridMasterDetail", "DevExpress")
<br/>
@Html.ActionLink("Cascading comboboxes", "CascadingCombos", "DevExpress")
<br/>
@Html.ActionLink("Chart", "Chart", "DevExpress")

<h2>jqWidgets</h2>
@Html.ActionLink("Grid", "Grid", "JQWidgets")
<br/>
@Html.ActionLink("Grid Master/Detail", "GridMasterDetail", "JQWidgets")
<br/>
@Html.ActionLink("Cascading comboboxes", "CascadingCombos", "JQWidgets")
<br/>
@Html.ActionLink("Chart", "Chart", "JQWidgets")

<h2>ExtJS</h2>
@Html.ActionLink("Grid", "Grid", "ExtJS")
<br/>
@Html.ActionLink("Grid Master/Detail", "GridMasterDetail", "ExtJS")
<br/>
@Html.ActionLink("Cascading comboboxes", "CascadingCombos", "ExtJS")
<br/>
@Html.ActionLink("Chart", "Chart", "ExtJS")
