﻿@Styles.Render("~/Content/jqwidgets")
@Scripts.Render("~/bundles/jqwidgets")

<h2>jqWidgets Cascading Combos</h2>

<script type="text/javascript">
    $(document).ready(function () {
		
        var companiesSource =
        {
            datatype: "json",
            datafields: [
                { name: 'CompanyId'},
                { name: 'CompanyName'}
            ],
            url: '../JQWidgets/Companies_Read',
            cache: false,
            async: false
        };

        var companiesAdapter = new $.jqx.dataAdapter(companiesSource);

        $("#companies").jqxComboBox(
            {
                source: companiesAdapter,			
                width: 200,
                height: 25,
                promptText: "Select company...",
                displayMember: 'CompanyName',
                valueMember: 'CompanyId',
                autoComplete: true,
                searchMode: 'startswithignorecase'
            });    

        var countriesSource =
        {
            datatype: "json",
            datafields: [
                { name: 'CountryId'},
                { name: 'CountryName' },
                { name: 'CompanyId' }
            ],
            url: '../JQWidgets/Countries_Read',
            cache: false,
            async: false
        };
        var countriesAdapter = new $.jqx.dataAdapter(countriesSource);
		
        $("#countries").jqxComboBox(
            {
			
                width: 200,
                height: 25,
                disabled: true,
                promptText: "Select country...",
                displayMember: 'CountryName',
                valueMember: 'CountryId',
                autoDropDownHeight: true,
                autoComplete: true,
                searchMode: 'startswithignorecase'
            });   
		
        $("#companies").bind('select', function(event)
        {
            if (event.args)
            {
                $("#countries").jqxComboBox({ disabled: false, selectedIndex: -1 });
                var value = event.args.item.value;
                countriesSource.data = { CompanyId: value };
                countriesAdapter = new $.jqx.dataAdapter(countriesSource);
                $("#countries").jqxComboBox({ source: countriesAdapter });
            }
        });   		
    });
</script>

<div>
    <span style="margin-top: 6px; font-size: 12px; font-family: verdana; float: left;">Companies:</span>
    <div style="margin-left: 5px; float: left;" id="companies"></div>
    <div style='clear: both;' />
</div>


<div style='margin-top: 20px;'>
    <span style="margin-top: 6px; font-size: 12px; font-family: verdana; float: left;">Countries:</span>
    <div style="margin-left: 5px; float: left;" id="countries"></div>
</div>
