﻿@Styles.Render("~/Content/jqwidgets")
@Scripts.Render("~/bundles/jqwidgets")

<h2>jqWidgets Chart</h2>

<script type="text/javascript">
    $(document).ready(function () {

        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'CountryName' },
                { name: 'Ports' }
            ],
            url: '../JQWidgets/PortsByCountries'
        };

        var dataAdapter = new $.jqx.dataAdapter(source, {
            async: false,
            autoBind: true
        });

        var settings = {
            title: "Number of ports per country",
            description: "",
            showLegend: true,
            enableAnimations: true,
            padding: { left: 5, top: 5, right: 5, bottom: 5 },
            titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },
            source: dataAdapter,
            categoryAxis:
            {
                dataField: 'CountryName',
                showGridLines: true
            },
            colorScheme: 'scheme01',
            seriesGroups:
            [
                {
                    type: 'column',
                    columnsGapPercent: 50,
                    valueAxis:
                    {
                        unitInterval: 1000,
                        displayValueAxis: true,
                        description: 'Number of ports'
                    },
                    series: [
                        { dataField: 'Ports', displayText: 'Number of ports' }
                    ]
                }
            ]
        };

        $('#jqxcCountries').jqxChart(settings);

    });
</script>

<div style='height: 1000px; width: 500px;'>
<div id='host' style="margin: 0 auto; width:950px; height:450px;">
	<div id='jqxcCountries' style="width:950px; height:450px; position: relative; left: 0px; top: 0px;">
	</div>
</div>
</div>