﻿@Styles.Render("~/Content/jqwidgets")
@Scripts.Render("~/bundles/jqwidgets")

<h2>jqWidgets Grid</h2>

<script type="text/javascript">
    $(document).ready(function () {
        var url = "../JQWidgets/All_Read";

        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'CompanyName', type: 'string'},
                { name: 'CountryName', type: 'string'},
                { name: 'SiteName', type: 'string'},
                { name: 'RoomName', type: 'string'},
                { name: 'RowName', type: 'string'},
                { name: 'CabinetName', type: 'string'},
                { name: 'PanelNumber', type: 'int'},
                { name: 'PortNumber', type: 'int'},
                { name: 'PortId', type: 'int'}
            ],
            id: 'PortId',
            url: url,
            root: 'data',            
            pagenum: 0,
            pagesize: 20,
            beforeprocessing: function (data) {
                source.totalrecords = data.totalCount;
            }
        };
        
        var timeBegin = new Date();        
        
        var dataAdapter = new $.jqx.dataAdapter(source, {
            beforeSend: function() {
                console.log('beforeSend');
                timeBegin = new Date();
            },
            beforeLoadComplete: function () {
                console.log('beforeLoadComplete');
            },
            loadComplete: function() {
                console.log('loadComplete');
                var timeEnd = new Date();
                $("span#Time").html("Change: " + (timeEnd - timeBegin));
            }
        });
        
        $("#jqxgPorts").jqxGrid(
        {
            width: 1500,
            height: 400,
            //autoheight: true,
            source: dataAdapter,
            virtualmode: true,
            selectionmode: 'singlerow',
            sortable: true,
            pageable: true,            
            columnsresize: true,
            pagesizeoptions: ['5', '10', '20', '50', '100', '200', '500', '1000', '2000', '5000', '7500', '10000'],
            columns: [
              { text: 'Company', datafield: 'CompanyName', width: 250 },
              { text: 'Country', datafield: 'CountryName', width: 230},
              { text: 'Site', datafield: 'SiteName', width: 130},
              { text: 'Room', datafield: 'RoomName', width: 350 },
              { text: 'Row', datafield: 'RowName', width: 100 },
              { text: 'Cabinet', datafield: 'CabinetName', width: 101 },
              { text: 'Panel', datafield: 'PanelNumber', width: 101 },
              { text: 'Port', datafield: 'PortNumber', width: 101 },
              { text: 'Port ID', datafield: 'PortId', width: 101 }        
            ],
            rendergridrows: function () {
                return dataAdapter.records;
            }
        });

        $("#jqxgPorts").on("pagechanged", function (event) {
            console.log('pagechanged');
            timeBegin = new Date();
        });
                    
        $("#jqxgPorts").on("bindingcomplete", function (event) {
            console.log('bindingcomplete');
            var timeEnd = new Date();
            $("span#Time").html("Change: " + (timeEnd - timeBegin));
        }); 

        $("#excelExport").click(function () {
            console.log("export start");
            var allSource = source;
            allSource.pagenum = 0;
            allSource.pagesize = 200;
            allSource.async = false;
            allSource.url = url + "?pagenum=0&pagesize=200";

            var allDataAdapter = new $.jqx.dataAdapter(allSource, {
                autoBind: true,
                loadComplete: function () {
                    console.log("export data loaded");
                    // temp switch to new data source with "all" records
                    var grid = $("#jqxgPorts");
                    grid.source = allDataAdapter;
                    $('#jqxgPorts').jqxGrid('updatebounddata');

                    // the last (url) parameter is actually the url to export server (which should produce the complete xls by itself?)
                    //$("#jqxgPorts").jqxGrid('exportdata', 'xls', 'jqxgPorts', true, null, false, url + "?pagenum=0&pagesize=200");
                    // otherwise calls default export server: http://jqwidgets.com/export_server/save-file.php, src included in commercial edition
                    // problem: always exports only the current page, how to make it export more/all records
                    $("#jqxgPorts").jqxGrid('exportdata', 'xls', 'ports');

                    grid.source = dataAdapter;
                    $('#jqxgPorts').jqxGrid('updatebounddata');
                }
            });            
        });
    });
</script>

<div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left; width:100%; clear:both">
    <div class="performance_test_result">
        <table>            
            <tr>
                <td>Time taken:</td>
                <td style="color:red"><span id="Time">&nbsp;</span>&nbsp;ms</td>
            </tr>
        </table>
    </div>
    <input type="button" value="Export::XLS" id="excelExport" />
    <div id="jqxgPorts"></div>
</div>

