﻿@Styles.Render("~/Content/jqwidgets")
@Scripts.Render("~/bundles/jqwidgets")

<h2>jqWidgets Grid Master/Detail</h2>

<script type="text/javascript">
    $(document).ready(function () {
        var masterUrl = "../JQWidgets/Companies_Read";
        var detailUrl = "../JQWidgets/All_Read?companyId=";

        var masterSource =
        {
            datatype: "json",
            datafields: [
                { name: 'CompanyName', type: 'string' }                
            ],
            id: 'CompanyId',
            url: masterUrl,
            root: '',
        };

        var detailSource =
        {
            datatype: "json",
            datafields: [
                { name: 'CountryName', type: 'string'},
                { name: 'SiteName', type: 'string'},
                { name: 'RoomName', type: 'string'},
                { name: 'RowName', type: 'string'},
                { name: 'CabinetName', type: 'string'},
                { name: 'PanelNumber', type: 'int'},
                { name: 'PortNumber', type: 'int'},
                { name: 'PortId', type: 'int'}
            ],
            id: 'PortId',
            root: 'data',
            pagenum: 0,
            pagesize: 20,
            cache: false,
            beforeprocessing: function (data) {
                detailSource.totalrecords = data.totalCount;
            }
        };
        
        var timeBegin;

        var masterDataAdapter = new $.jqx.dataAdapter(masterSource, {
            beforeSend: function () {
                console.log('master beforeSend');
                timeBegin = new Date();
            },
            beforeLoadComplete: function () {
                console.log('master beforeLoadComplete');
            },
            loadComplete: function () {
                console.log('master loadComplete');
                var timeEnd = new Date();
                $("span#Time").html("Change: " + (timeEnd - timeBegin));
            }
        });        

        // detail grids
        var initrowdetails = function(index, parentElement, gridElement, record) {
            var id = record.uid.toString();
            var grid = $($(parentElement).children()[0]);

            detailSource.url = detailUrl + id;

            var detailDataAdapter = new $.jqx.dataAdapter(detailSource, {
                beforeSend: function() {
                    console.log('detail beforeSend');
                    timeBegin = new Date();
                },
                beforeLoadComplete: function() {
                    console.log('detail beforeLoadComplete');
                },
                loadComplete: function() {
                    console.log('detail loadComplete');
                    var timeEnd = new Date();
                    $("span#Time").html("Change: " + (timeEnd - timeBegin));
                }
            });

            grid.jqxGrid(
                {
                    width: 1300,
                    height: 380,
                    //autoheight: true,
                    source: detailDataAdapter,
                    virtualmode: true,
                    selectionmode: 'singlerow',
                    pageable: true,
                    columnsresize: true,
                    pagesizeoptions: ['5', '10', '20', '50', '100', '200', '500', '1000', '2000', '5000', '7500', '10000'],
                    columns: [
                        { text: 'Country', datafield: 'CountryName', width: 230 },
                        { text: 'Site', datafield: 'SiteName', width: 130 },
                        { text: 'Room', datafield: 'RoomName', width: 350 },
                        { text: 'Row', datafield: 'RowName', width: 100 },
                        { text: 'Cabinet', datafield: 'CabinetName', width: 101 },
                        { text: 'Panel', datafield: 'PanelNumber', width: 101 },
                        { text: 'Port', datafield: 'PortNumber', width: 101 },
                        { text: 'Port ID', datafield: 'PortId', width: 101 }
                    ],
                    rendergridrows: function() {
                        return detailDataAdapter.records;
                    }
                });

            grid.on("pagechanged", function(event) {
                console.log('detail pagechanged');
                timeBegin = new Date();
            });

            grid.on("bindingcomplete", function(event) {
                console.log('detail bindingcomplete');
                var timeEnd = new Date();
                $("span#Time").html("Change: " + (timeEnd - timeBegin));
            });
        };
        
        $("#jqxgCompanies").jqxGrid(
        {
            width: 1500,
            height: 600,
            //autoheight: true,
            source: masterDataAdapter,
            selectionmode: 'singlerow',
            columnsresize: true,
            rowdetails: true,
            initrowdetails: initrowdetails,
            rowdetailstemplate: { rowdetails: "<div id='jqxgPorts' style='margin: 10px;'></div>", rowdetailsheight: 400, rowdetailshidden: true },
            ready: function () {
                $("#jqxgCompanies").jqxGrid('showrowdetails', 0);
            },
            columns: [
              {
                  text: 'Company', datafield: 'CompanyName', width: 250,
                  cellsrenderer: function (row, column, value) {
                      return '<span style="background-color: yellow">' + value + '</span>';
                  }
              }
            ]
        });
    });
</script>

<div id='jqxWidget' style="font-size: 13px; font-family: Verdana; float: left; width:100%; clear:both">
    <div class="performance_test_result">
        <table>            
            <tr>
                <td>Time taken:</td>
                <td style="color:red"><span id="Time">&nbsp;</span>&nbsp;ms</td>
            </tr>
        </table>
    </div>
    <div id="jqxgCompanies"></div>
</div>

