﻿@Styles.Render("~/Content/kendo")
@Scripts.Render("~/bundles/kendo")

<h2>Kendo CascadingCombos</h2>

<p>
    <label for="companies">Company:</label>
    @(Html.Kendo().ComboBox()
        .Name("companies")
        .HtmlAttributes(new { style = "width:300px" })
        .Placeholder("Select company...")
        .DataTextField("CompanyName")
        .DataValueField("CompanyId")
        .Filter(FilterType.StartsWith)
        .Events(e => e.Change("loadCountries"))
        .DataSource(source =>
        {
            source.Read(read =>
                {
                    read.Action("Kendo_Companies_Read_Raw", "Kendo");
                }).ServerFiltering(false);
        })
    )
</p>

<p>
    <label for="countries">Country:</label>
    @(Html.Kendo().ComboBox()
          .Name("countries")
          .HtmlAttributes(new { style = "width:300px" })
          .Placeholder("Select country...")
          .DataTextField("CountryName")
          .DataValueField("CountryId")
          .Filter(FilterType.StartsWith)
          .Events(e => e.Change("loadSites"))
          .DataSource(source => {
            source.Read(read =>
                {
                    read.Action("Kendo_CountriesForCompany_Read", "Kendo").Data("filterCountries");
                })
                    // true = automatically refreshes country data when company changes (OK)
                    // but: also triggers for every key pressed when typing the country name (!)
                    .ServerFiltering(false); 
          })
          .Enable(false)
          .AutoBind(false)
          //.CascadeFrom("companies") //to prevent refreshing
          )    
</p>

<p>
    <label for="sites">Site:</label>
    @(Html.Kendo().AutoComplete()
            .Name("sites")
            .Filter("startswith")
            .Placeholder("Select site...")
            .DataTextField("SiteName") // doesn't support any ID field (only combo)
            .MinLength(0) // no effect, needs some text
            .HtmlAttributes(new { style = "width:250px" })
            .Events(e => e.Change("changeSites"))
            .DataSource(source => {
              source.Read(read =>
              {
                  read.Action("Kendo_SitesForCountry_Read", "Kendo").Data("filterSites");
              })
              .ServerFiltering(false);
            })
            .Enable(false)
            //.Suggest(true)
    )
</p>

<script>
    function filterCountries() {
        console.log($("#companies").data("kendoComboBox"));
        return {
            companyId: $("#companies").data("kendoComboBox").value() //$("#companies").val()
        };
    }
    
    function loadCountries() {
        var countries = $("#countries").data("kendoComboBox");
        countries.dataSource.read();
        countries.enable(true);
    }

    function filterSites() {
        console.log($("#countries").data("kendoComboBox").value());
        return {
            companyId: $("#companies").data("kendoComboBox").value(),
            countryId: $("#countries").data("kendoComboBox").value()
        };
    }

    function loadSites() {
        var sites = $("#sites").data("kendoAutoComplete");
        sites.dataSource.read();
        sites.enable(true);
    }

    function changeSites() {
        console.log("sites change");
    }

    $("#sites").keyup(function (event) {
        if (event.keyCode == 40) {
            $("#sites").data("kendoAutoComplete").popup.open(); // search method always needs some text
        }
    });
</script>