﻿@Styles.Render("~/Content/kendo-viz")
@Scripts.Render("~/bundles/kendo-viz")

<h2>Kendo Chart</h2>

@(Html.Kendo().Chart<ViewModels.PortsByCountriesViewModel>()
      .Name("chart")
      .Title("Ports by countries")
      .DataSource(dataSource => dataSource
          .Read(read => read.Action("PortsByCountries", "Kendo"))
      )
      .Legend(legend => legend.Position(ChartLegendPosition.Top))
      .Series(series => {
          series.Column(d => d.Ports)
                .Name("Ports");
      })
      .CategoryAxis(axis => axis
          .Categories(model => model.CountryName)
      )
)