﻿@(Html.Kendo().Grid<Company>()
    .Name("kgCompany")
    .Columns(columns =>
    {
        columns.Bound(e => e.CompanyName).Width(120);
    })
    .Sortable()
    .Pageable()
    .Filterable()
    .Groupable()
    //.Scrollable()
    .ClientDetailTemplateId("template")
    .HtmlAttributes(new { style = "height:430px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(5)
        .Read(read => read.Action("Kendo_Companies_Read", "Kendo"))
    )
    .Events(events => events.DataBound("dataBound"))
)

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<ViewModels.AllViewModel>()
            .Name("gridAll_#=CompanyId#")
            .Columns(columns =>
            {
                columns.Bound(c => c.CountryName).Title("Country").Width(100);
                columns.Bound(c => c.SiteName).Title("Site").Width(100);
                columns.Bound(c => c.RoomName).Title("Room").Width(100);
                columns.Bound(c => c.RowName).Title("Row").Width(100);
                columns.Bound(c => c.CabinetName).Title("Cabinet").Width(100);
                columns.Bound(c => c.PanelNumber).Title("Panel").Width(100);
                columns.Bound(c => c.PortNumber).Title("Port").Width(100);
                columns.Bound(c => c.PortId).Title("Port ID").Width(100);
            })
            .HtmlAttributes(new { style = "height: 380px;" })
            .Scrollable()
            .Groupable()
            .Sortable()
            .Selectable()
            .Filterable()
            .Pageable(pageable => pageable
                .Info(true)
                .Numeric(true)
                .Refresh(true)
                .Input(true)
                .PageSizes(new int[]{5, 10, 20, 50, 100, 200, 500, 1000, 2000, 5000, 7500, 10000})
                .ButtonCount(10))
            .DataSource(dataSource => dataSource
                .Ajax()
                .Events(x => x.RequestStart("OnStartCallback").Change("OnEndCallback").RequestEnd("OnRequestEndCallback"))
                //.Sort(s => s.Add(c => c.PortId)) //client
                //.Group(g => g.Add(p => p.CountryName)) //client
                .PageSize(100)
                .ServerOperation(true)
                .Read(read => read.Action("Kendo_AllForCompany_Read", "Kendo", new { companyId = "#=CompanyId#" })
                    //.Data("CompanyReadData") // js function that will return data (if controller's action method is not used)
                )
            )
            .ToClientTemplate()
          )    
</script>

<script>
    function dataBound() {
        this.expandRow(this.tbody.find("tr.k-master-row").first());
    }
</script>

<style scoped="scoped">
    .k-hierarchy-cell {
        width: 50px;
        max-width: 50px;
     }
    .k-grid .k-hierarchy-col {
        width: 50px;
    }
</style>