﻿<script type="text/javascript">
    var callbackInitDate;
    var callbackRequestEndDate;
    var command;
    var gridBindingDate;

    function OnStartCallback(s) {
        callbackInitDate = new Date();
        command = s.type;
    }

    function OnRequestEndCallback(s) {
        callbackRequestEndDate = new Date();
    }

    function OnEndCallback(s) {
        var currentDate = new Date();
        var time = currentDate - callbackInitDate;
        var timeRequestEnd = currentDate - callbackRequestEndDate;
        var items = s.items.length;
        document.getElementById("Operation").innerHTML = command + " (" + items + " records)";
        document.getElementById("TimeDataSource").innerHTML = "Change: " + time + " / Request: " + timeRequestEnd;
    }

    function OnDataBinding(s) {
        gridBindingDate = new Date();
    }

    function OnDataBound2(s) {
        var currentDate = new Date();
        var time = currentDate - gridBindingDate;
        document.getElementById("TimeGrid").innerHTML = "Databound: " + time;
    }
</script>

<div class="performance_test_result">
    <table>
        <tr>
            <td>Operation:</td>
            <td id="Operation">&nbsp;</td>
        </tr>
        <tr>
            <td>Time taken (datasource):</td>
            <td style="color:red"><span id="TimeDataSource">&nbsp;</span>&nbsp;ms</td>
        </tr>
        <tr>
            <td>Time taken (grid):</td>
            <td style="color:red"><span id="TimeGrid">&nbsp;</span>&nbsp;ms</td>
        </tr>
    </table>
</div>