﻿@{
    //@model IQueryable <SpikeProvider.AllViewModel>
    //@(Html.Kendo().Grid(Model)
    //@(Html.Kendo().Grid<ViewModels.AllViewModel>() 
}

@(Html.Kendo().Grid<ViewModels.AllViewModel>()
    .Name("kgAll")
    .Columns(columns =>
    {
        columns.Bound(c => c.CompanyName).Title("Company");
        columns.Bound(c => c.CountryName).Title("Country");
        columns.Bound(c => c.SiteName).Title("Site");
        columns.Bound(c => c.RoomName).Title("Room");
        columns.Bound(c => c.RowName).Title("Row");
        columns.Bound(c => c.CabinetName).Title("Cabinet");
        columns.Bound(c => c.PanelNumber).Title("Panel");
        columns.Bound(c => c.PortNumber).Title("Port");
        columns.Bound(c => c.PortId).Title("Port ID");
    })
    .HtmlAttributes(new { style = "height: 380px;" })
    .ToolBar(toolBar => {
        toolBar.Custom()
            .Text("Export::PDF")
            .HtmlAttributes(new { id = "exportPDF" })
            .Url(Url.Action("ExportPDF", "Kendo", new { page = 1, pageSize = "~", filter = "~", sort = "~" }));
        toolBar.Custom()
            .Text("Export::XLSX")
            .HtmlAttributes(new { id = "exportXLSX" })
            .Url(Url.Action("ExportXLSX", "Kendo", new { page = 1, pageSize = "~", filter = "~", sort = "~" }));
    })
    .Scrollable()
    .Groupable()
    .Sortable()
    .Selectable()
    .Filterable()
    //.ColumnMenu() // also allows setting column visibility
    .Pageable(pageable => pageable
        .Refresh(true)
        .Input(true)
        .PageSizes(new int[]{5, 10, 20, 50, 100, 200, 500, 1000, 2000, 5000, 7500, 10000})
        .ButtonCount(5))
    //.BindTo(Model) //loads all at once and stores it locally for js access
    /*.DataSource(dataSource => dataSource
            .Server() //uses the model from view, but: does a full page refresh (!), action thus returns a View
            .Model(model => model.Id(p => p.PortId))
            .Read(read => read.Action("Kendo_All_Read", "Kendo"))*/     
    .Events(x => x.DataBinding("OnDataBinding").DataBound("OnDataBound"))
    .DataSource(dataSource => dataSource        
        .Ajax() //partial page updates
        .Events(x => x.RequestStart("OnStartCallback").Change("OnEndCallback").RequestEnd("OnRequestEndCallback"))
        //.Group(g => g.Add(c => c.CompanyName)) // client-side (slower)
        //.Sort(s => s.Add(c => c.PortId)) // client-side (slower)        
        .ServerOperation(true) // when false then all records fetched (client-side sorting etc.)
        .PageSize(100)
        .Read(read => read.Action("Kendo_All_Read", "Kendo"))        
    )
)

<script type="text/javascript">

    function createRequest(btnId) {
        // example on how to construct request object manually
        var grid = $('#kgAll').data('kendoGrid');

        // ask the parameterMap to create the request object for you
        var requestObject = (new kendo.data.transports["aspnetmvc-server"]({ prefix: "" }))
        .options.parameterMap({
            page: grid.dataSource.page(),
            sort: grid.dataSource.sort(),
            filter: grid.dataSource.filter()
        });

        // Get the export link as jQuery object
        var $exportLink = $('#' + btnId);

        // Get its 'href' attribute - the URL where it would navigate to
        var href = $exportLink.attr('href');

        // Update the 'page' parameter with the grid's current page
        href = href.replace(/page=([^&]*)/, 'page=' + requestObject.page || '~');

        // Update the 'sort' parameter with the grid's current sort descriptor
        href = href.replace(/sort=([^&]*)/, 'sort=' + requestObject.sort || '~');

        // Update the 'pageSize' parameter with the grid's current pageSize
        href = href.replace(/pageSize=([^&]*)/, 'pageSize=' + grid.dataSource._pageSize);

        //update filter descriptor with the filters applied

        href = href.replace(/filter=([^&]*)/, 'filter=' + (requestObject.filter || '~'));

        // Update the 'href' attribute
        $exportLink.attr('href', href);
    }

    function OnDataBound(e) {
        OnDataBound2(e);
        createRequest("exportPDF");
        createRequest("exportXLSX");                
    }
</script>