﻿@Styles.Render("~/Content/kendo")
@Scripts.Render("~/bundles/kendo")

<script type="text/javascript">
    $(document).ready(function () {

        var gridSource = new kendo.data.DataSource({
            type: 'json',
            transport: {
                read: {
                    url: "/api/kendorest",
                    dataType: "json"
                }
            },
            schema: {
                // the array of repeating data elements
                data: "Data",
                // the total count of records in the whole dataset. used
                // for paging.
                total: "Total"
            },
            // the number of records to show per page
            pageSize: 10,
            // do paging on the server
            serverPaging: true,
            serverFiltering: true,
            serverSorting: true
        });

        var grid = $("#myGrid").kendoGrid({
            pageable: true,
            filterable: true,
            sortable: true,
            dataSource: gridSource
        }).data("kendoGrid");
        
        grid.dataSource.originalFilter = grid.dataSource.filter;

        // Replace the original filter function.
        grid.dataSource.filter = function () {
            var result = grid.dataSource.originalFilter.apply(this, arguments);
            
            if (arguments.length > 0) {
                this.trigger("filter", arguments);
            }

            return result;
        }

        grid.dataSource.bind("filter", function () {
            var currentFilter = this.filter();
            
            var filterHtml = "";
            currentFilter.filters.forEach(function (filter, index) {
                filterHtml += "Field: " + filter.field + "<br/>" +
                    "Operator: " + filter.operator + "<br/>" +
                    "Value: " + filter.value + "<br/><br/>";

                if (currentFilter.filters.length > 1 && index !== currentFilter.filters.length - 1) {
                    filterHtml += "Logic: " + currentFilter.logic + "<br/><br/>";
                }
            });

            $("#filter").html(filterHtml);
        });

    });
   
</script>

<div id="filter"></div>
<div id="myGrid"></div>